@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* main */
    --groomingGreen: 94, 49%, 54%;
    --groomingPink: 314, 35%, 66%;
    /* services */
    --groomingPink1: 320, 51%, 68%;
    --groomingPink2: 318, 57%, 55%;
    --groomingPink3: 312, 70%, 42%;
    --groomingPink4: 298, 41%, 55%;
    --groomingPink5: 320, 47%, 61%;
    --groomingPink6: 300, 33%, 63%;
    --groomingPink7: 294, 30%, 46%;
    --groomingPink8: 316, 34%, 56%;
    --groomingPink9: 299, 70%, 42%;
    --groomingPink10: 302, 47%, 61%;

    --jimOrange: 33, 93%, 54%;
    --jimGray: 0, 0%, 89%;
    --jimGrayLight: 0, 0%, 93%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 33, 93%, 54%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* --jimOrange: 33, 93%, 0%; */
    --jimGray: 0, 0%, 25%;
    --jimGrayLight: 0, 0%, 28%;

    --background: 0, 0%, 7%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 0, 0%, 7%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

img {
  max-height: 100%;
}
h1 {
  @apply text-foreground  mb-2 text-xl;
}
table.basic {
  @apply w-full;
}
table.basic thead tr td {
  @apply bg-orange-100;
}
table.basic tr td {
  @apply border border-orange-200 p-1;
}
table.basic a {
  @apply bg-orange-300 text-white text-sm py-1 px-2 rounded-md inline-flex mr-1;
}

.btn-red {
  @apply bg-red-700 text-white px-4 py-1  p-2  rounded-md hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-300;
}
.btn-default {
  @apply bg-gray-500 text-white px-4 py-1 p-2  rounded-md hover:bg-gray-400 active:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-200;
}
